{% load i18n staticfiles %}
<form class="pure-form" method="get" id="searchform" action="{% url 'zinnia:entry_search' %}">
    <input class="pure-u-1-2" type="text" name="pattern" id="searchbox" placeholder="{% trans "Search by keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
  <input type="submit" class="pure-button pure-button-primary" value="OK" />
</form>
<div data-alert class="alert-box info">
  {% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex queries.' %}
</div>
