root = true

[*]
end_of_line = LF
charset = utf-8
max_line_length = 80
insert_final_newline = true

[Makefile]
indent_style = tab

[*.yml]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 1

[*.css]
indent_style = space
indent_size = 2

[{package.json,.travis.yml,circle.yml}]
indent_style = space
indent_size = 2
