myblog.egg-info/
build/
dist/
.tox/
*.py[co]
*.sw[po]
*.DS_Store
.idea/
.coverage
myblog/db.sqlite3
myblog/uploads/*
myblog/static/*
extras/docker-compose/compose.env
extras/docker-compose/ssl-certs/dhparam.pem
extras/docker-compose/ssl-certs/myblog.key
extras/docker-compose/ssl-certs/myblog.crt
