junit.xml
coverage.xml
.vagrant/
myblog.egg-info/
build/
dist/
src/
.tox/
*.py[con]
*.sw[pon]
*.DS_Store
.idea/
.coverage
myblog/db.sqlite3
myblog/static/*
myblog/media/*
extras/ansible/vars.yml
extras/ansible/hosts
extras/docker-compose/compose.env
extras/docker-compose/ssl-certs/*
extras/docker-compose/ssl-certs/
