[uwsgi]
socket = {{ uwsgi_bind_addr }}:{{ uwsgi_bind_port }}
master = True

chdir = {{ myblog_basedir.stdout }}
env = DJANGO_SETTINGS_MODULE=settings
module = wsgi:application
home = {{ myblog_venv }}

threads = 1
processes = 4
# stats = 127.0.0.1:9191

uid = myblog
gid = myblog

vacuum = true
max-requests = 5000

