{% extends "zinnia/base.html" %}
{% load i18n staticfiles lor %}

{% block title %}{{ title }}{% endblock title %}

{% block meta %}
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="profile">
<meta property="og:first_name" content="Anthony">
<meta property="og:last_name" content="Monthe">
<meta property="og:username" content="ZuluPro">
{% endblock meta %}

{% block link %}
  <link rel="stylesheet" href="{% lor_url "animate" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//lipis.github.io/flag-icon-css/css/flag-icon.css">
{% endblock link %}

{% block html-attrs %}ng-app="app"{% endblock html-attrs %}

{% block content %}
<section></section>
<section class="aboutme">
<div class="pure-g">
  <div class='pure-u-1 pure-u-lg-1-2'>
   <div id="aboutme-column">
    <h2>About me</h2>
    <p><i>Hey, what's up! I'm Anthony, {{ resume.resume }}</i></p>
    <p>Or simply</p>
    <p><i>Opensource enthusiast who loves its works and skateboarding.</i></p>
    <p class="link-bar">
     <a href="mailto:{{ resume.email }}" target="blank"><i class="fa fa-send fa-3x"></i></a>
     <a href="http://stackoverflow.com/users/{{ resume.stackoverflow }}" target="blank"><i class="fa fa-stack-overflow fa-3x"></i></a>
     <a href="https://github.com/{{ resume.github }}" target="blank"><i class="fa fa-github fa-3x"></i></a>
     <a href="https://plus.google.com/u/0/{{ resume.google }}" target="blank"><i class="fa fa-google-plus fa-3x"></i></a>
     <a href="https://fr.linkedin.com/in/{{ resume.linkedin }}" target="blank"><i class="fa fa-linkedin fa-3x"></i></a>
     <!-- <a href="https://angel.co/{{ resume.angellist }}" target="blank"><i class="fa fa-angellist fa-3x"></i></a> -->
     <a href="skype:{{ resume.skype }}" target="blank"><i class="fa fa-skype fa-3x"></i></a>
    </p>
   </div>
  </div>
  <div class='pure-u-1 pure-u-lg-1-2'>
   <img class="pure-img" src="{% static "img/bigme.jpg" %}">
  </div>
</div>
</section>

<section>
  <div class='pure-u-1-1'>
   <h1><center>Education & degree</center></h1>
   <ul id="formation">
    {% for certification in resume.certifications.all %}
    <li><div>{{ certification.start_year }}</div><div>{{ certification.certification.title }} at {{ certification.certification.authority }}</div></li>
    {% endfor %}
    {% for training in resume.trainings.all %}
    <li><div>{{ training.year }}</div><div>{{ training.degree }} in {{ training.topic }}</div></li>
    {% endfor %}
   </ul>
  </div>
</section>

<section>
  <h1><center>Yes I'm contributing</center></h1>
  <div class='pure-g'>
    {% for project in resume.projects.all %}
      <div class='pure-u-1-4'>
        <h4>
         <a href="{{ project.project.url }}"><i class="fa fa-link"></i></a>
         {{ project.project.title }}
        </h4>
        <p>{{ project.project.description }}</p>
      </div>
    {% endfor %}
  </div>
</section>

<section class="i18n">
  <h1><center>I am i18n</center></h1>
  <div class='pure-g'>
    <div class='pure-u-1-3'>
      <h1><span class="flag-icon flag-icon-fr"></span></h1>
      <h4>Le <u>Français</u> est ma langue maternelle</h4>
    </div>
    <div class='pure-u-1-3'>
      <h1><span class="flag-icon flag-icon-gb"></span></h1>
      <h4>I also speak <u>English</u></h4>
    </div>
    <div class='pure-u-1-3'>
      <h1><span class="flag-icon flag-icon-pt"></span></h1>
      <h4>E eu tento falar <u>Português</u></h4>
    </div>
  </div>
  <br>
</section>

<section class="more">
  <h1><center>Get more about me</center></h1>
  <br>
  <div class='pure-g'>
    <div class='pure-u-1-3'>
      <a href="{% static "gpg.asc" %}">
        <i class="fa fa-lock fa-5x"></i>
      </a>
    </div>
    <div class='pure-u-1-3'>
      <a href="{% url "resume_pdf" 1 %}">
        <i class="fa fa-file-pdf-o fa-5x"></i>
      </a>
    </div>
    <div class='pure-u-1-3'>
      <a href="{% url "resume_slide" 1 %}">
        <img src="{{ resume.website_qrcode }}" width="90px">
      </a>
    </div>
  </div>
  <div class='pure-g'>
    <div class='pure-u-1-3'>
        <h4>Get my GPG key</h4>
    </div>
    <div class='pure-u-1-3'>
        <h4>Get my resume</h4>
    </div>
    <div class='pure-u-1-3'>
        <h4>See my resume slide</h4>
    </div>
  </div>
</section>

<section class="skills" id="skill-section">
 <div class="pure-g">
  <div class='pure-u-1-1' ng-controller="SkillListCtrl as skillList">
   <h1><center>Skills</center></h1>
   <div class="pure-form" ng-submit="skillList.filter()">
   <input class="pure-input-1 pure-input-rounded" type="text" ng-model="skillList.q" placeholder="Filter by category or name">
   </div>
   <div>
    <div class="pure-g">
     <div class='pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-4 pure-u-lg-1-5 pure-u-xl-1-6' ng-repeat="skill in skillList.filter()">
      <div class="wow pulse" data-wow-duration="{$ skill.rank - 6 $}s" data-wow-iteration="infinite" data-wow-offset="100" data-wow-delay="{$ 1000 / skill.rank  $}ms">
       <div class="wow {$ skillList.getAnimation(skill.rank) $} " data-wow-delay="{$ 1000 / skill.rank $}ms" data-wow-offset="100">
        <div class="wow rollIn " data-wow-delay="{$ 1000 / skill.rank $}ms" data-wow-offset="100">
         <p class="circle" style="background-color: {$ skill.color $};">
          <a href="{$ skill.url $}">{$ skill.name $}</a>
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
 </div>
</section>
{% endblock content %}

{% block foot-script %}
<script src="{% static "prism/prism.js" %}"></script>
<script src="{% lor_url "angularjs" %}"></script>
<script src="{% lor_url "wow" %}"></script>
<script src="{% static "js/about.js" %}"></script>
{% endblock foot-script %}
