{% extends "zinnia/entry_list.html" %}
{% load i18n zinnia myblog %}

{% block meta-description %}{% trans "Latest entries" %}{% endblock meta-description %}

{% block title %}{% trans "Latest entries" %}{% endblock title %}

{% block body-class %}{{ block.super }} archive index {% now "\y\e\a\r-Y \m\o\n\t\h-m \w\e\ek-W \d\a\y-d" %}{% endblock body-class %}

{% block body-head %}
<section class="body-head">
<div class="pure-g">
   <div class='pure-u-1 pure-u-lg-3-4'>
    <p><b>My blog</b> : <i>{% random_sentence %}</i></p>
   </div>
   <div class='pure-u-1 pure-u-lg-1-4'>
    <form class="pure-form" method="get" action="{% url "zinnia:entry_search" %}" _lpchecked="1">
     <input class="pure-input-rounded" type="text" name="pattern" placeholder="{% trans "Search by keywords..." %}">
     <input type="submit" class="submitbutton" value="OK">
    </form>
   </div>
</div>
</section>
{% endblock body-head %}

{% block slider %}
{% get_featured_entries template="zinnia/tags/entries_slider.html" %}
{% endblock slider %}

{% block content-related %}
{% if date_list %}
<section class="bottom">
<div class="content">
<h3>{% trans "Yearly archives" %}</h3>
<ul class="no-bullet inline-list">
  {% for date in date_list %}
  <li>
    <a href="{% url 'zinnia:entry_archive_year' date|date:"Y" %}" rel="archives">{{ date|date:"Y" }}</a>
  </li>
  {% endfor %}
</ul>
</div>
</section>
{% endif %}
{% endblock content-related %}
