{% load i18n staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
 <head>
  {% block head %}
  {% include "base/head.html" %}
  {% endblock head %}
 </head>

 <body>
  {% block navbar %}
  {% include "base/navbar.html" %}
  {% endblock navbar %}
  
  <div class="pure-g">
  <div class='pure-u-1-1'>
  {% block content %}
  {% endblock content %}
  </div>
  </div>

  <div class='pure-u-1-1'>
   <section class="footer">
    <div class="content">
       Made during geeking nights with <a href="http://django-blog-zinnia.com/">Django Zinnia</a>
     </div>
   </section>
  </div>
  </div>

  <script src="{% static "prism/prism.js" %}"></script>
 </body>
</html>
