upstream myblog {
    {% for host in (groups.get('all', []) + groups.get('middleware', [])) %}
    server {{ hostvars[host]['uwsgi_bind_addr'] }}:{{ uwsgi_bind_port }};
    {% endfor %}
}

server {
    listen 80;
    # Log
    access_log /var/log/nginx/myblog.log;
    error_log /var/log/nginx/myblog.err.log warn;
    # Misc
    client_max_body_size 10M;

    ## location /static/ {
    ##     autoindex   on;
    ##     root  /var/www/myblog/static/;
    ## }

    ## location /uploads/ {
    ##     autoindex on;
    ##     root  /var/www/myblog/uploads/;
    ## }

    location / {
        root /var/www/
        uwsgi_pass myblog;
        include uwsgi_params;
    }
}
