{% extends "zinnia/base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block meta %}
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="article">
<meta property="og:first_name" content="Anthony">
<meta property="og:last_name" content="Monthe">
<meta property="og:username" content="ZuluPro">
<meta property="og:description" content="My picture gallery">
{% for thumb, photo in photos %}
<meta property="og:image" content="{{ thumb }}">
{% endfor %}
{% endblock meta %}

{% block link %}
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/unitegallery.min.js" %}"></script>
  <script src="{% static "js/ug-theme-default.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/unite-gallery.css" %}" type='text/css'>
  <link rel="stylesheet" href="{% static "css/ug-theme-default.css" %}" type='text/css'>
{% endblock link %}

{% block content %}
<section></section>
<section class="body-head">
<div class="content">
 <b>{% trans "My photo gallery" %}: </b> Not with particular theme but recording anything I see
</div>
</section>
<section class="photo">
<div class="pure-g">
  <div class='pure-u-1'>
    <div id="photo-list" style="display:none;">
    {% for thumb, photo in photos %}
    <img src="{{ thumb }}" data-image="{{ photo }}"/>
    {% endfor %}
    </div>
  </div>
</div>
</section>
{% endblock content %}

{% block foot-script %}
<script type="text/javascript">
$(document).ready(function(){
    $("#photo-list").unitegallery();
})
</script>
{% endblock foot-script %}
