{% load i18n staticfiles lor %}
<title>Anthony Monthe - {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
<meta content='initial-scale=1' name='viewport'>
<meta charset="utf-8"/>
<meta name="robots" content="follow, all" />
<meta name="language" content="{{ LANGUAGE_CODE }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="{% block meta-description %}{% trans "My weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}"/>
<meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia, python, opensource{% endblock meta-keywords %}"/>
<meta name="author" content="ZuluPro"/>
{% block meta %}{% endblock meta %}
<link rel="icon" href="{% static "img/favicon.ico" %}"/>
<link rel="home" href="{% url 'zinnia:entry_archive_index' %}"/>
<link rel="stylesheet" href="{% static "prism/themes/prism.css" %}"/>
{% block link %}{% endblock link %}
{% block script %}{% endblock script %}
<link rel="pingback" href="/xmlrpc/"/>
<link href='{% lor_url "opensans" %}' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% lor_url "pure" %}">
<link href="{% static "css/myblog.css" %}" media="all" rel="stylesheet" />
