{% load i18n staticfiles %}
<div class="pure-g nav-container">
 <section>
 <div class="pure-u-1 pure-u-lg-1-2">
  <ul class="left">
   <li class="name">
    <a href="{% url 'aboutme' %}" title="Anthony Monthe" rel="home">
     <img src="/static/img/avatar.png" height="60" width="60" style="border-radius: 70px;">
     Anthony Monthe
    </a>
   </li>
  </ul>
 </div>

 <div class="pure-u-1 pure-u-lg-1-2">
  <ul class="right">
   <li>
   <a href="{% url 'aboutme' %}" title="Anthony Monthe"><i class="fa fa-user"></i>{% trans "About me" %}</a>
   </li>
   <li><a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "My blog" %}"><i class="fa fa-sticky-note"></i>Blog</a></li>
   <li><a href="{% url 'photos' %}" title="{% trans "Photos" %}" class="feeds"><i class="fa fa-camera-retro"></i>{% trans "Photos" %}</a></li>
   <li><a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap"><i class="fa fa-sitemap"></i>{% trans "Sitemap" %}</a></li>
   <li><a href="{% url 'zinnia:entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds"><i class="fa fa-rss"></i>{% trans "RSS Feed" %}</a></li>
   {% if request.user.is_superuser %}
   <li><a href="{% url 'admin:index' %}" title="{% trans "Admin site" %}" class="admin"><i class="fa fa-edit"></i> {% trans "Admin" %}</a></li>
   {% endif %}
  </ul>
 </div>
 </section>
</div>
