{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Bio Calendar - {{ action }}{% endblocktrans %}{% endblock title %}

{% block content %}
<section class="body-head">
 <div class="content">
  <h2>
   <a href="{% url "directories" %}">{% trans "Bio directory" %}</a>
   / <a href="{% url "actions" %}">{% trans "Calendar" %}</a>
   / {{ action }}
  </h2>
 </div>
</section>

<section>
 <div class="content">
  {% if action.plants.exists %}
   <p><b>{% trans "Plants" %}</b>:</p>
   <ul>
    {% for plant in action.plants.all %}
    <li><a href="{{ plant.get_absolute_url }}">{{ plant }}</a></li>
    {% endfor %}
   </ul>
  {% endif %}

  {% if action.areas.exists %}
   <p><b>{% trans "Areas" %}</b>:</p>
   <ul>
    {% for area in action.areas.all %}
    <li><a href="{{ area.get_absolute_url }}">{{ area }}</a></li>
    {% endfor %}
   </ul>
  {% endif %}

  <p>{{ action.description }}</p>
 </div>
</section>
{% endblock content %}
