{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}{% trans "Bio directory" %}{% endblock title %}

{% block content %}
<section class="body-head">
 <div class="content">
  <h2>{% trans "Bio directory" %}</h2>
 </div>
</section>

<section class="thumbnails">
 <div class="content">
  <div class="pure-g">
   {% if user.is_superuser %}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
     <h2><a href="{% url "plantitems" %}"><i class="fa fa-4x fa-list-ul" aria-hidden="true"></i><br>{% trans "Inventory" %}</a></h2>
    </div>
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
     <h2><a href="{% url "actions" %}"><i class="fa fa-4x fa-calendar" aria-hidden="true"></i><br>{% trans "Calendar" %}</a></h2>
    </div>
   {% endif %}
   <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
    <h2><a href="{% url "plants" %}"><i class="fa fa-4x fa-leaf" aria-hidden="true"></i><br>{% trans "Plants" %}</a></h2>
   </div>
   <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
    <h2><a href="{% url "pathologies" %}"><i class="fa fa-4x fa-medkit" aria-hidden="true"></i><br>{% trans "Pathologies" %}</a></h2>
   </div>
   <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
    <h2><a href="{% url "pests" %}"><i class="fa fa-4x fa-bug" aria-hidden="true"></i><br>{% trans "Pests" %}</a></h2>
   </div>
   <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
    <h2><a href="{% url "guides" %}"><i class="fa fa-4x fa-book" aria-hidden="true"></i><br>{% trans "Guide" %}</a></h2>
   </div>
  </div>
 </div>
</section>
{% endblock content %}
